* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}
.clock {
    position: relative;
    display: block;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
}

.clock .time {
    display: flex;
    flex-direction: row;
}

.clock .time div {
    position: relative;
    margin: 0px 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.clock .time div span{
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 0px 0px 1px grey;
}

.clock .time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: grey;
    text-transform: uppercase;
}

.clock .time div span:last-child span {
    background: #000;
}

.clock .time div span:last-child span:nth-child(2){
    background-color: grey;
}